@import '~bootstrap/scss/bootstrap';

// @font-face {
//   font-family: 'Antonio';
//   src: url('public/Antonio/static/Antonio-Regular.ttf') format('truetype');
// }

.form-signin {
  width: 75%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.main-header {
  // font-family: 'Antonio', sans-serif;
  padding-top: 1%;
  padding-bottom: 1%;
}
